<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Alfie Web</title>

    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="container main-content">
      <div class="jumbotron mt-3">
        <h1 class="h4"><strong>Alfie</strong> creates diary inserts in various formats and layouts.</h1>

        {% from "_formhelpers.html" import render_choice_row %}
        <form method="POST" action="/" class="mt-5" target="_blank">
          {{ form.csrf_token }}
          {{ render_choice_row(form.format) }}
          {{ render_choice_row(form.layout) }}
          {{ render_choice_row(form.language) }}
          {{ render_choice_row(form.year) }}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <button type="submit" class="btn btn-primary form-control col-sm-9">{{ form.submit.label }}</button>
          </div
        </form>

        <hr class="mt-5 mb-5">

        <p>
          Alfie creates diary inserts for use in your personal planner.<br>
          The inserts are ready to print on A4 paper.
        </p>

        <p>
          Alfie is made by <a class="github-mark" href="https://github.com/hertze/Alfie" target="_blank">hertze</a>, the web app is made by <a class="github-mark" href="https://github.com/htrinter/alfieweb" target="_blank">htrinter</a>.
        </p>

        <hr class="mt-5 mb-5">

        <p>
          <small>
            Some legal matters required by German and European law:<br>
            <a href="https://about.ustat.de/alfieweb/de/notice">Impressum</a> / <a href="https://about.ustat.de/alfieweb/en/notice">Legal Notice</a><br>
            <a href="https://about.ustat.de/alfieweb/de/privacy">Datenschutzerklärung</a> / <a href="https://about.ustat.de/alfieweb/en/privacy">Privacy Policy</a>
          </small>
        </p>
      </div>
    </div>

    <script src="/static/js/lib/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/lib/popper.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
  </body>
</html>
